In [1]:
import pandas

In [2]:
import pandas 
df1 = pandas.read_csv("traffic.csv")
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [3]:
import pandas
df2 = pandas.read_excel("traffic.xlsx")
df2

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [4]:
import pandas
df3 = pandas.read_json("traffic.json")
df3

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [5]:
df2

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [6]:
df2.set_index("Date")
df2

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [7]:
import pandas
df1 = pandas.read_csv("traffic.csv",header=None)
df1

       0         1   2          3       4          5
0   Date  Visitors  BR    Country  Clicks        Day
1      1      1500  20        USA      20    Tuesday
2      2       700  25         UK      35  Wednesday
3      3       900  15      India      37   Thursday
4      4       400  35        USA      12     Friday
5      5       500  14     Canada      35   Saturday
6      6       700  15      India      32     Sunday
7      7       600  20      India      37     Monday
8      8       700  16        USA      40    Tuesday
9      9      1200  27        USA      52  Wednesday
10    10      1400  32  Australia      57   Thursday

In [8]:
df2.set_index("Day")

           Date  Visitors  BR    Country  Clicks
Day
Tuesday       1      1500  20        USA      20
Wednesday     2       700  25         UK      35
Thursday      3       900  15      India      37
Friday        4       400  35        USA      12
Saturday      5       500  14     Canada      35
Sunday        6       700  15      India      32
Monday        7       600  20      India      37
Tuesday       8       700  16        USA      40
Wednesday     9      1200  27        USA      52
Thursday     10      1400  32  Australia      57

In [9]:
df3 = df2.set_index("Day")
df3

           Date  Visitors  BR    Country  Clicks
Day
Tuesday       1      1500  20        USA      20
Wednesday     2       700  25         UK      35
Thursday      3       900  15      India      37
Friday        4       400  35        USA      12
Saturday      5       500  14     Canada      35
Sunday        6       700  15      India      32
Monday        7       600  20      India      37
Tuesday       8       700  16        USA      40
Wednesday     9      1200  27        USA      52
Thursday     10      1400  32  Australia      57

In [10]:
df2 = df2.set_index ("Day")
df2

           Date  Visitors  BR    Country  Clicks
Day
Tuesday       1      1500  20        USA      20
Wednesday     2       700  25         UK      35
Thursday      3       900  15      India      37
Friday        4       400  35        USA      12
Saturday      5       500  14     Canada      35
Sunday        6       700  15      India      32
Monday        7       600  20      India      37
Tuesday       8       700  16        USA      40
Wednesday     9      1200  27        USA      52
Thursday     10      1400  32  Australia      57

In [11]:
df4 = pandas.read_csv("traffic-commas.txt")
df4

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [12]:
df5 = pandas.read_csv("traffic-semi-colons.txt")
df5

  Date;Visitors;BR;Country;Clicks;Day
0            1;1500;20;USA;20;Tuesday
1            2;700;25;UK;35;Wednesday
2          3;900;15;India;37;Thursday
3              4;400;35;USA;12;Friday
4         5;500;14;Canada;35;Saturday
5            6;700;15;India;32;Sunday
6            7;600;20;India;37;Monday
7             8;700;16;USA;40;Tuesday
8          9;1200;27;USA;52;Wednesday
9    10;1400;32;Australia;57;Thursday

In [13]:
df5 = pandas.read_csv("traffic-semi-colons.txt", sep=";")
df5

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [14]:
df6 = pandas.read_csv("http://www.sharecsv.com/dl/12746a580c502de45dd2994d331b/traffic.csv")
df6

HTTPError: HTTP Error 404: Not Found

In [ ]:
df7 = pandas_json("https//api.myjson.com/bins/civ3k")
df7

In [15]:
df1.loc[2:5, "country":"click"]
df1

       0         1   2          3       4          5
0   Date  Visitors  BR    Country  Clicks        Day
1      1      1500  20        USA      20    Tuesday
2      2       700  25         UK      35  Wednesday
3      3       900  15      India      37   Thursday
4      4       400  35        USA      12     Friday
5      5       500  14     Canada      35   Saturday
6      6       700  15      India      32     Sunday
7      7       600  20      India      37     Monday
8      8       700  16        USA      40    Tuesday
9      9      1200  27        USA      52  Wednesday
10    10      1400  32  Australia      57   Thursday

In [16]:
df2 = df1.loc[2:5, "country":"Day"]
df1

       0         1   2          3       4          5
0   Date  Visitors  BR    Country  Clicks        Day
1      1      1500  20        USA      20    Tuesday
2      2       700  25         UK      35  Wednesday
3      3       900  15      India      37   Thursday
4      4       400  35        USA      12     Friday
5      5       500  14     Canada      35   Saturday
6      6       700  15      India      32     Sunday
7      7       600  20      India      37     Monday
8      8       700  16        USA      40    Tuesday
9      9      1200  27        USA      52  Wednesday
10    10      1400  32  Australia      57   Thursday

In [17]:
df2

Empty DataFrame
Columns: []
Index: [2, 3, 4, 5]

In [18]:
df2 = df1.loc [3,"clicks"]
df2

KeyError: 'clicks'

In [19]:
df2 = df1.loc[:, "clicks"]
df2

KeyError: 'clicks'

In [20]:
df1 = pandas.read_csv("traffic.csv")
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [21]:
df1.iloc[6:9, 1:5]

   Visitors  BR Country  Clicks
6       600  20   India      37
7       700  16     USA      40
8      1200  27     USA      52

In [22]:
df1.iloc[5,1:5]

Visitors      700
BR             15
Country     India
Clicks         32
Name: 5, dtype: object

In [23]:
df1.ix[5, 1:6]

AttributeError: 'DataFrame' object has no attribute 'ix'